html {
    background-image: url('./Images/hogwarts.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130vh;
}

body {
    text-align: center;
}

@font-face {
    font-family: 'Harry Potter', sans-serif;
    src: url("http://fonts.cdnfonts.com/css/harry-potter");
}

h1 {
    font-family: 'Harry Potter', sans-serif;
    font-size: 150px;
    color: #ad7843;
    margin: 0px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 171, 16);
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.score-container {
    font-family: 'Harry Potter', sans-serif;
    text-align: center;
    color: #fffb27;
    text-shadow: 5px 5px 5px rgb(128, 84, 3);
    font-size: 75px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.board-container {
    padding-top: 20px;
}

.instructions {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    /* padding-top: 5px; */
    color: #ad7843;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(255, 235, 16, 0.488);
}

.game-info {
    align-items: center;
}

hr {
    width: 250px;
    border: 2.5px double #ad7843;
}

p {
    font-size: 20px;
    color: #e4e13a;
    font-weight: lighter;
    letter-spacing: 1px;
}

.wish {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #e4e13a;
    text-shadow: 2px 2px 2px #805403;
    animation: flashingLuck .5s linear infinite;
}

@keyframes flashingLuck {
    from {
        color: #e4e13a;
        text-shadow: 2px 2px 2px #805403;
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        color: #805403;
        text-shadow: 2px 2px 2px #e4e13a;
        opacity: 1.0;
    }
}

#gameBoard {
    width: 400px;
    height: 400px;
    background-color: #c3894f;
    border: 10px solid #c3894f;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 90px;
    height: 90px;
    border: 5px solid #c3894f;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 4s;
    transition: margin 200ms;
    transition: .30s;
    transition-timing-function: ease;
    transform: 0.0s linear;
    transform-origin: center;
}

audio {
    position: absolute;
    top: 400px;
    right: 50px;
    max-width: 150px;
    border: 5px solid goldenrod;
    border-radius: 25px;
    background-color: goldenrod;

}

audio:hover {
    border: 7px solid rgb(35, 153, 173);
    background-color: rgb(35, 153, 173);
}